@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.logo {
    font-size: 24px; 
    font-weight: bold;
    color: white; 
    text-decoration: none !important;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 1);
    align-items: center;
    padding: 30px 10%;
    height: 104px;
    z-index: 10;
    opacity: 0.75;
    width: 100%;
    
}
.fa-instagram, .fa-facebook, .fa-twitter,.fa-user {
    font-size: 24px;
}

.text {
    text-align: center; 
    color: white;
    margin-top: 230px; 

}

.text h1 {
    font-size: 36px; 
    margin-bottom: 20px; 
    text-transform: uppercase;
    font-weight: bold;
}

.text p {
    font-size: 36px; 
    margin-bottom: 50px; 
    font-weight: bold;
}

.start-btn {
    background-color: black; 
    color: white; 
    padding: 12px 30px; 
    border: none;
    border-radius: 50px; 
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.start-btn:hover {
    background-color: #333; 
}

.media{
    display: flex;
    gap: 20px;
    
}

.sub-menu{
    position:absolute;
    width: 320px;
    height: 200px;
    right: 275px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    
}

.sub-menu.open-menu{
    max-height: 400px;
}
.menu{
    background-color:white;
    padding: 20px;
    margin:10px;
    
}


.info{
    display:flex;
    align-items: center;
}
   
.info h3{
    font-weight: 500;
    color: black;
}

.info img{
    width: 60px;
    border-radius:50%;
    margin-right:15px;
    height: 60px;
}

.menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.menu-link{
    display:flex;
    align-items: center;
    text-decoration: none !important;
    color: #525252;
    margin: 12px 0
    
}

.menu-link p{
    width: 100%;
    
}
.menu-link i{
    width:40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.menu-link span{
    font-size:22px;
    transition: transform 0.5s;
}
.menu-link:hover span{
    transform: translateX(5px);
}

.menu-link:hover p{
    font-weight: 600;
}



.links{
    list-style: none;
    align-content: center;
}
.links li{
    display:inline-block;
    padding: 0px 20px;

}
.links li a{
    transition: all 0.3s ease 0s;
}


button{
    padding: 9px 25px;
    background-color: rgba(60, 179, 113, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:rgba(60, 179, 113, 0.8); 
}

.calculator-container {
    border: 2px solid gray;
    padding: 20px;
    background-color: white;
    width: 600px;
    text-align: center;
    border-radius: 10px;
}

.calculator-container h2 {
    margin-bottom: 20px;
}

.calculator-container p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.calculator-container label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.calculator-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.calculator-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculator-container input[type="submit"]:hover {
    background-color: gray;
}

.form-container {
    border: 2px solid gray;
    padding: 20px;
    background-color: white;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.form-container select,
.form-container input[type="number"] {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"],
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.pasleptie-elem {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

th {
    background-color: #f2f2f2; 
}

a {
    display: block; 
    text-align: center; 
    margin-top: 20px; 
  
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}
.logout {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF5C5C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    margin-top: 20px;
    padding: 10px 20px;
  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    background-color: #ff4040;
}

.progress {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
position: relative;
}

.step {
text-align: center;
position: relative;
flex: 1;
}

.bullet {
background-color: slategrey;
border-radius: 50%;
height: 30px;
width: 30px;
display: inline-block;
line-height: 30px;
color: white;
}

.bullet.active {
background-color: black;
}

.step-title {
margin-top: 5px;
}

.progress::before {
content: '';
position: absolute;
top: 15px;
left: 50px;
right: 50px;
height: 3px;
background-color: #ddd;
z-index: 0;
}

.bullet.active::before {
background-color: #008000;
}

.house-plans {
    display:inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.house-plan {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px; 
    cursor: pointer; 
}

.house-plan img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.plan-details {
    margin-top: 10px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.area{
    width: 100%; 

}

select, input[type="submit"] {
    width: 100%; 
    padding: 15px; 
    font-size: 16px; 
    margin-bottom: 10px;
    margin-top: 10px;
}

.furniture_set {
    display: inline-block;
    align-items: center; 
    margin-bottom: 10px; 
}

.furniture_set input[type="radio"] {
    margin-right: 10px; 
}

.furniture_set label {
    margin-right: 10px; 
}



.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.popup .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


.popup .content h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}


.popup .choises {
    margin-top: 20px;
}


.popup .button {
    text-decoration: none;
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    
}


.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
   
}
